

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<link href="/favicon.ico" rel="icon" type="image/x-icon" />
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<title>天天生鲜-首页</title>
    
	<link rel="stylesheet" type="text/css" href="/static/css/reset.css">
	<link rel="stylesheet" type="text/css" href="/static/css/main2.css">
    
    
	<script type="text/javascript" src="/static/js/jquery-1.12.4.min.js"></script>
	<script type="text/javascript" src="/static/js/jquery-ui.min.js"></script>
	<script type="text/javascript" src="/static/js/slide.js"></script>

</head>
<body>

    <div class="header_con">
        <div class="header">
            <div class="welcome fl">欢迎来到天天生鲜!</div>
            <div class="fr">
                
                    <div class="login_btn fl">
                        <a href="/user/login/">登录</a>
                        <span>|</span>
                        <a href="/user/register/">注册</a>
                    </div>
                
                <div class="user_link fl">
                    <span>|</span>
                    <a href="/user/info/">用户中心</a>
                    <span>|</span>
                    <a href="/cart/info/">我的购物车</a>
                    <span>|</span>
                    <a href="/user/order/">我的订单</a>

                </div>
            </div>
        </div>
    </div>



    <div class="search_bar clearfix">
        <a href="/" class="logo fl"><img src="/static/images/logo.png"></a>
        <div class="search_con fl">
            <form action="/search" method="get">
                <input type="text" class="input_text fl" name="q" placeholder="搜索商品">
                <input type="submit" class="input_btn fr" name="" value="搜索">
            </form>
        </div>
        <div class="guest_cart fr">
            <a href="/cart/info/" class="cart_name fl">我的购物车</a>
            <div class="goods_count fl" id="show_count">0</div>
        </div>
    </div>



<div class="navbar_con">
    <div class="navbar">
        <h1 class="fl">全部商品分类</h1>
        <ul class="navlist fl">
            <li><a href="">首页</a></li>
            <li class="interval">|</li>
            <li><a href="">手机生鲜</a></li>
            <li class="interval">|</li>
            <li><a href="">抽奖</a></li>
        </ul>
    </div>
</div>

<div class="center_con clearfix">
    <ul class="subnav fl">
        
            <li><a href="#model01" class="fruit">新鲜水果</a></li>
        
            <li><a href="#model02" class="seafood">海鲜水产</a></li>
        
            <li><a href="#model03" class="meet">猪牛羊肉</a></li>
        
            <li><a href="#model04" class="egg">禽类蛋品</a></li>
        
            <li><a href="#model05" class="vegetables">新鲜蔬菜</a></li>
        
            <li><a href="#model06" class="ice">速冻食品</a></li>
        
    </ul>
    <div class="slide fl">
        <ul class="slide_pics">
            
                <li><a href="/detail/6/"><img src="http://58.87.121.208:8888/group1/M00/00/00/rBUABFuHpfiAJ2NhAACpB-LsCdE780.jpg" alt="幻灯片"></a></li>
            
                <li><a href="/detail/29/"><img src="http://58.87.121.208:8888/group1/M00/00/00/rBUABFuHpe6AAvGBAAC3B-z8J2c869.jpg" alt="幻灯片"></a></li>
            
                <li><a href="/detail/13/"><img src="http://58.87.121.208:8888/group1/M00/00/00/rBUABFuHpeSAGNv9AAETwXb_pso203.jpg" alt="幻灯片"></a></li>
            
                <li><a href="/detail/10/"><img src="http://58.87.121.208:8888/group1/M00/00/00/rBUABFuHpdmAS2HsAAD0akkXmFo508.jpg" alt="幻灯片"></a></li>
            
        </ul>
        <div class="prev"></div>
        <div class="next"></div>
        <ul class="points"></ul>
    </div>
    <div class="adv fl">
        
            <a href="http://www.toutiao.com"><img src="http://58.87.121.208:8888/group1/M00/00/00/wKgTg1tymkOAIsRPAAA98yvCs1I4019578"></a>
        
            <a href="http://www.baidu.com"><img src="http://58.87.121.208:8888/group1/M00/00/00/wKgTg1tymiaAaOjaAAA2pLUeB600430264"></a>
        
    </div>
</div>


    <div class="list_model">
        <div class="list_title clearfix">
            <h3 class="fl" id="model01">新鲜水果</h3>
            <a href="/list/2/" class="goods_more fr" id="fruit_more">查看更多 ></a>
        </div>

        <div class="goods_con clearfix">
            <div class="goods_banner fl"><img src="http://58.87.121.208:8888/group1/M00/00/00/wKgTg1tyiOaAINkCAABChktC5I44380081"></div>
            <ul class="goods_list fl">
                
                    <li>
                        <h4><a href="/detail/48/">富士苹果</a></h4>
                        <a href="/detail/48/"><img src="http://58.87.121.208:8888/group1/M00/00/00/rBUABFuHqY6Aaqb6AADN80inxaQ984.jpg"></a>
                        <div class="prize">¥ 6.99</div>
                    </li>
                
                    <li>
                        <h4><a href="/detail/38/">青苹果</a></h4>
                        <a href="/detail/38/"><img src="http://58.87.121.208:8888/group1/M00/00/00/rBUABFuHadeAA5AAAAAWnwO6wpU9576416"></a>
                        <div class="prize">¥ 3.00</div>
                    </li>
                
                    <li>
                        <h4><a href="/detail/37/">海南香蕉</a></h4>
                        <a href="/detail/37/"><img src="http://58.87.121.208:8888/group1/M00/00/00/rBUABFuHaXSAUb1HAAAaabPqzqc1598095"></a>
                        <div class="prize">¥ 2.99</div>
                    </li>
                
                    <li>
                        <h4><a href="/detail/36/">李子</a></h4>
                        <a href="/detail/36/"><img src="http://58.87.121.208:8888/group1/M00/00/00/rBUABFuHaMiAByN-AAAgbU6nbaA2826517"></a>
                        <div class="prize">¥ 3.68</div>
                    </li>
                
            </ul>
        </div>
    </div>

    <div class="list_model">
        <div class="list_title clearfix">
            <h3 class="fl" id="model02">海鲜水产</h3>
            <a href="/list/3/" class="goods_more fr" id="fruit_more">查看更多 ></a>
        </div>

        <div class="goods_con clearfix">
            <div class="goods_banner fl"><img src="http://58.87.121.208:8888/group1/M00/00/00/wKgTg1tyiRCAS3v6AAB6Qt2qz7w2453295"></div>
            <ul class="goods_list fl">
                
                    <li>
                        <h4><a href="/detail/12/">基围虾</a></h4>
                        <a href="/detail/12/"><img src="http://58.87.121.208:8888/group1/M00/00/00/wKgTg1tykRGAJ4ULAAA5OS4Kl4c4194242"></a>
                        <div class="prize">¥ 100.80</div>
                    </li>
                
                    <li>
                        <h4><a href="/detail/11/">扇贝</a></h4>
                        <a href="/detail/11/"><img src="http://58.87.121.208:8888/group1/M00/00/00/wKgTg1tykOuAYU78AAAk8WCqqmI5822209"></a>
                        <div class="prize">¥ 56.60</div>
                    </li>
                
                    <li>
                        <h4><a href="/detail/10/">秋刀鱼</a></h4>
                        <a href="/detail/10/"><img src="http://58.87.121.208:8888/group1/M00/00/00/wKgTg1tykL2AQNUUAAAkaP_7_189281285"></a>
                        <div class="prize">¥ 50.00</div>
                    </li>
                
                    <li>
                        <h4><a href="/detail/9/">大青虾</a></h4>
                        <a href="/detail/9/"><img src="http://58.87.121.208:8888/group1/M00/00/00/wKgTg1tykJeAOdCuAAAk0DN4-yE0000584"></a>
                        <div class="prize">¥ 34.00</div>
                    </li>
                
            </ul>
        </div>
    </div>

    <div class="list_model">
        <div class="list_title clearfix">
            <h3 class="fl" id="model03">猪牛羊肉</h3>
            <a href="/list/4/" class="goods_more fr" id="fruit_more">查看更多 ></a>
        </div>

        <div class="goods_con clearfix">
            <div class="goods_banner fl"><img src="http://58.87.121.208:8888/group1/M00/00/00/wKgTg1tyiSKAcIm_AABP_7aqOEg3444390"></div>
            <ul class="goods_list fl">
                
                    <li>
                        <h4><a href="/detail/16/">牛排</a></h4>
                        <a href="/detail/16/"><img src="http://58.87.121.208:8888/group1/M00/00/00/wKgTg1tykb-AXwj3AACwa3rCDPQ9079102"></a>
                        <div class="prize">¥ 99.80</div>
                    </li>
                
                    <li>
                        <h4><a href="/detail/15/">羊肉</a></h4>
                        <a href="/detail/15/"><img src="http://58.87.121.208:8888/group1/M00/00/00/wKgTg1tykZmAfk94AAB6NOQDrpk0380805"></a>
                        <div class="prize">¥ 56.88</div>
                    </li>
                
                    <li>
                        <h4><a href="/detail/14/">牛肉</a></h4>
                        <a href="/detail/14/"><img src="http://58.87.121.208:8888/group1/M00/00/00/wKgTg1tykWeAdKV_AAEExAU4yXU2934265"></a>
                        <div class="prize">¥ 34.99</div>
                    </li>
                
                    <li>
                        <h4><a href="/detail/13/">猪肉</a></h4>
                        <a href="/detail/13/"><img src="http://58.87.121.208:8888/group1/M00/00/00/wKgTg1tykT6AAMZ_AAEVpb1YHUE2100329"></a>
                        <div class="prize">¥ 23.00</div>
                    </li>
                
            </ul>
        </div>
    </div>

    <div class="list_model">
        <div class="list_title clearfix">
            <h3 class="fl" id="model04">禽类蛋品</h3>
            <a href="/list/5/" class="goods_more fr" id="fruit_more">查看更多 ></a>
        </div>

        <div class="goods_con clearfix">
            <div class="goods_banner fl"><img src="http://58.87.121.208:8888/group1/M00/00/00/wKgTg1tyiTeAQqLXAABDRDMvQes5423422"></div>
            <ul class="goods_list fl">
                
                    <li>
                        <h4><a href="/detail/31/">鹅蛋</a></h4>
                        <a href="/detail/31/"><img src="http://58.87.121.208:8888/group1/M00/00/00/wKgTg1tylG6AWTcHAADg_NUp5b46685959"></a>
                        <div class="prize">¥ 32.00</div>
                    </li>
                
                    <li>
                        <h4><a href="/detail/30/">鹌鹑蛋</a></h4>
                        <a href="/detail/30/"><img src="http://58.87.121.208:8888/group1/M00/00/00/wKgTg1tylE-ACIIqAAGZ6KapWiA1575667"></a>
                        <div class="prize">¥ 18.88</div>
                    </li>
                
                    <li>
                        <h4><a href="/detail/20/">鸡腿</a></h4>
                        <a href="/detail/20/"><img src="http://58.87.121.208:8888/group1/M00/00/00/wKgTg1tykqSAUXZNAAA2_p7G96w7234113"></a>
                        <div class="prize">¥ 32.00</div>
                    </li>
                
                    <li>
                        <h4><a href="/detail/19/">鸭蛋</a></h4>
                        <a href="/detail/19/"><img src="http://58.87.121.208:8888/group1/M00/00/00/wKgTg1tykn6ACOrdAAFC_2tSkFo3750771"></a>
                        <div class="prize">¥ 45.00</div>
                    </li>
                
            </ul>
        </div>
    </div>

    <div class="list_model">
        <div class="list_title clearfix">
            <h3 class="fl" id="model05">新鲜蔬菜</h3>
            <a href="/list/6/" class="goods_more fr" id="fruit_more">查看更多 ></a>
        </div>

        <div class="goods_con clearfix">
            <div class="goods_banner fl"><img src="http://58.87.121.208:8888/group1/M00/00/00/wKgTg1tyiWyAVuYOAABm8oRZzvE9804224"></div>
            <ul class="goods_list fl">
                
                    <li>
                        <h4><a href="/detail/32/">红辣椒</a></h4>
                        <a href="/detail/32/"><img src="http://58.87.121.208:8888/group1/M00/00/00/wKgTg1tylI6AUT9TAAHXO8pdocY3817309"></a>
                        <div class="prize">¥ 2.30</div>
                    </li>
                
                    <li>
                        <h4><a href="/detail/24/">冬瓜</a></h4>
                        <a href="/detail/24/"><img src="http://58.87.121.208:8888/group1/M00/00/00/wKgTg1tyk1GAA32pAAENHrNG1-s0836934"></a>
                        <div class="prize">¥ 2.99</div>
                    </li>
                
                    <li>
                        <h4><a href="/detail/23/">香菜</a></h4>
                        <a href="/detail/23/"><img src="http://58.87.121.208:8888/group1/M00/00/00/wKgTg1tykyyAD4_dAACNpHC0IEY2866287"></a>
                        <div class="prize">¥ 8.80</div>
                    </li>
                
                    <li>
                        <h4><a href="/detail/22/">芹菜</a></h4>
                        <a href="/detail/22/"><img src="http://58.87.121.208:8888/group1/M00/00/00/wKgTg1tykvCAQl1EAACIrzuaK643839906"></a>
                        <div class="prize">¥ 3.50</div>
                    </li>
                
            </ul>
        </div>
    </div>

    <div class="list_model">
        <div class="list_title clearfix">
            <h3 class="fl" id="model06">速冻食品</h3>
            <a href="/list/7/" class="goods_more fr" id="fruit_more">查看更多 ></a>
        </div>

        <div class="goods_con clearfix">
            <div class="goods_banner fl"><img src="http://58.87.121.208:8888/group1/M00/00/00/wKgTg1tyiYKAcrZ9AABbZbLmza85039469"></div>
            <ul class="goods_list fl">
                
                    <li>
                        <h4><a href="/detail/28/">速冻水饺</a></h4>
                        <a href="/detail/28/"><img src="http://58.87.121.208:8888/group1/M00/00/00/wKgTg1tyk-WAQBo1AACMoBJXjDs4193732"></a>
                        <div class="prize">¥ 12.88</div>
                    </li>
                
                    <li>
                        <h4><a href="/detail/27/">虾丸</a></h4>
                        <a href="/detail/27/"><img src="http://58.87.121.208:8888/group1/M00/00/00/wKgTg1tyk8aAAofdAABICav_wjk7230924"></a>
                        <div class="prize">¥ 9.80</div>
                    </li>
                
                    <li>
                        <h4><a href="/detail/26/">蟹棒</a></h4>
                        <a href="/detail/26/"><img src="http://58.87.121.208:8888/group1/M00/00/00/wKgTg1tyk6aAU0vqAABxy5vKkgY4240868"></a>
                        <div class="prize">¥ 9.80</div>
                    </li>
                
                    <li>
                        <h4><a href="/detail/25/">鱼丸</a></h4>
                        <a href="/detail/25/"><img src="http://58.87.121.208:8888/group1/M00/00/00/wKgTg1tyk4iAJCh6AADZQphQJ2o2485386"></a>
                        <div class="prize">¥ 9.80</div>
                    </li>
                
            </ul>
        </div>
    </div>




	<div class="footer">
		<div class="foot_link">
			<a href="#">关于我们</a>
			<span>|</span>
			<a href="#">联系我们</a>
			<span>|</span>
			<a href="#">招聘人才</a>
			<span>|</span>
			<a href="#">友情链接</a>		
		</div>
		<p>CopyRight © 2016 北京******技术有限公司 All Rights Reserved</p>
		<p>电话：010-*******    京ICP备18051957号-1</p>
	</div>




















</body>
</html>
